/* style.css */

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  /* 46 */
  /* 327 */
  background-image: url(https://picsum.photos/id/327/2500/1667);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input[type="text"] {
  border: solid 1px #dadada;
  transition: border 1s;
  border-radius: 20px;
}

.icon{
  width: 50px;
  height: 50px;
}

.weather_form{
  background-color: rgba(44, 44, 44, 0.693);
}




.btn {
  border-radius: 20px;
}

.day:hover{
  background:lightslategrey;
}